# Section 0
- Submission Date : 04/11/2024
- QPM 2024-2025: Assignment 1
- Members :
ESCATO Ugo  
HERVE Gauthier  
KAEPPELIN Teodor  
MEDDEB Malek  
CAO Yu
- Diversity :
1. Academic background : some did prepa, others went to univerisity,
2. Nationality : French, Chinese, Tunisian
3. Python : some very familiar with Python and machine learning, others not at all

# Section 1

## Question 1 of Assignment 1

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

### Question 1.1

In [2]:
tickers = ["META", "AMZN", "AAPL", "NFLX", "GOOG"]
start_date = "2015-01-01"
end_date = "2020-12-31"

faang_data = yf.download(tickers, start=start_date, end=end_date)
faang_close = faang_data['Adj Close']
prices=faang_close
prices

[*********************100%***********************]  5 of 5 completed

Ticker,AAPL,AMZN,GOOG,META,NFLX
Date,,,,,
2015-01-02 00:00:00+00:00,24.373959,15.426000,26.104546,78.214508,49.848572
2015-01-05 00:00:00+00:00,23.687309,15.109500,25.560379,76.958290,47.311428
2015-01-06 00:00:00+00:00,23.689537,14.764500,24.967966,75.921410,46.501431
2015-01-07 00:00:00+00:00,24.021711,14.921000,24.925188,75.921410,46.742859
2015-01-08 00:00:00+00:00,24.944685,15.023000,25.003778,77.945320,47.779999
...,...,...,...,...,...
2020-12-23 00:00:00+00:00,128.200790,159.263504,86.406799,267.305145,514.479980
2020-12-24 00:00:00+00:00,129.189468,158.634506,86.729507,266.597290,513.969971
2020-12-28 00:00:00+00:00,133.810043,164.197998,88.586945,276.168518,519.119995
2020-12-29 00:00:00+00:00,132.028412,166.100006,87.720573,275.949158,530.869995
2020-12-30 00:00:00+00:00,130.902634,164.292496,86.762924,271.053894,524.590027

### Question 1.2

In [3]:
# Mean of daily returns
returns = prices.pct_change().dropna()
returns.mean()

Ticker
AAPL    0.001289
AMZN    0.001757
GOOG    0.000939
META    0.001027
NFLX    0.001914
dtype: float64

In [4]:
# Variance of daily returns
returns.std()**(2)

Ticker
AAPL    0.000349
AMZN    0.000381
GOOG    0.000288
META    0.000403
NFLX    0.000715
dtype: float64

In [5]:
# Covariance of daily returns
returns.cov()

Ticker      AAPL      AMZN      GOOG      META      NFLX
Ticker
AAPL    0.000349  0.000202  0.000192  0.000216  0.000206
AMZN    0.000202  0.000381  0.000216  0.000235  0.000275
GOOG    0.000192  0.000216  0.000288  0.000228  0.000216
META    0.000216  0.000235  0.000228  0.000403  0.000238
NFLX    0.000206  0.000275  0.000216  0.000238  0.000715

### Question 1.3

In [6]:
# Skewness of daily returns distributions
returns.skew()

Ticker
AAPL   -0.082983
AMZN    0.759507
GOOG    0.517835
META   -0.329940
NFLX    0.682041
dtype: float64

In [7]:
# Excess kurtosis of daily returns distributions
returns.kurt()

Ticker
AAPL     6.610303
AMZN     7.199629
GOOG    10.433370
META    12.041412
NFLX     7.350749
dtype: float64

Skewness of daily returns is non-null and excess kurtosis is positive, hence daily returns are not normally distributed.

# Section 2

## Question 2 of Assignment 1

### Question 2.1

In [8]:
# Downloading S&P 500 table 
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
tables = pd.read_html(url)
SP500_table = tables[0]
SP500_table

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [9]:
# Tickers
tickers_SP500 = SP500_table["Symbol"]
tickers_SP500

0       MMM
1       AOS
2       ABT
3      ABBV
4       ACN
       ...
498     XYL
499     YUM
500    ZBRA
501     ZBH
502     ZTS
Name: Symbol, Length: 503, dtype: object

In [10]:
start_date = "2000-01-01"
end_date = "2022-12-31"

In [11]:
tickers_SP500 = tickers_SP500.tolist()

SP_data = yf.download(tickers_SP500, start=start_date, end=end_date)
SP_close = SP_data['Adj Close']
prices_SP500 = SP_close

prices_SP500.head()

[*********************100%***********************]  503 of 503 completed

8 Failed downloads:
['AMTM', 'KVUE', 'GEV', 'SOLV', 'SW', 'VLTO']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (1d 2000-01-01 -> 2022-12-31) (Yahoo error = "Data doesn\'t exist for startDate = 946702800, endDate = 1672462800")')
['BRK.B']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')
['BF.B']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (1d 2000-01-01 -> 2022-12-31)')

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03 00:00:00+00:00,43.463020,0.844004,NaN,NaN,8.288180,1.277778,NaN,16.274679,28.214655,6.307346,...,NaN,11.352951,NaN,6.848377,18.035828,NaN,4.634288,NaN,25.027779,NaN
2000-01-04 00:00:00+00:00,40.142948,0.772846,NaN,NaN,8.051374,1.270833,NaN,14.909400,26.787304,6.241646,...,NaN,10.926455,NaN,7.006068,17.690357,NaN,4.541136,NaN,24.666668,NaN
2000-01-05 00:00:00+00:00,37.652870,0.784155,NaN,NaN,8.036574,1.388889,NaN,15.204174,27.178352,6.143091,...,NaN,11.505267,NaN,7.276400,18.654758,NaN,4.564425,NaN,25.138889,NaN
2000-01-06 00:00:00+00:00,36.219189,0.716296,NaN,NaN,8.317780,1.375000,NaN,15.328293,26.435358,6.175942,...,NaN,12.043469,NaN,7.208814,19.619179,NaN,4.525610,NaN,23.777779,NaN
2000-01-07 00:00:00+00:00,39.237450,0.750226,NaN,NaN,8.406580,1.451389,NaN,16.072981,27.178352,6.274497,...,NaN,11.647436,NaN,7.208814,19.561598,NaN,4.424696,NaN,23.513889,NaN

In [12]:
# Drop NA's
prices_SP500 = prices_SP500.dropna(axis=1, how='all')
prices_SP500.head()

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03 00:00:00+00:00,43.463020,0.844004,NaN,NaN,8.288180,1.277778,NaN,16.274679,28.214655,6.307346,...,NaN,11.352951,NaN,6.848377,18.035828,NaN,4.634288,NaN,25.027779,NaN
2000-01-04 00:00:00+00:00,40.142948,0.772846,NaN,NaN,8.051374,1.270833,NaN,14.909400,26.787304,6.241646,...,NaN,10.926455,NaN,7.006068,17.690357,NaN,4.541136,NaN,24.666668,NaN
2000-01-05 00:00:00+00:00,37.652870,0.784155,NaN,NaN,8.036574,1.388889,NaN,15.204174,27.178352,6.143091,...,NaN,11.505267,NaN,7.276400,18.654758,NaN,4.564425,NaN,25.138889,NaN
2000-01-06 00:00:00+00:00,36.219189,0.716296,NaN,NaN,8.317780,1.375000,NaN,15.328293,26.435358,6.175942,...,NaN,12.043469,NaN,7.208814,19.619179,NaN,4.525610,NaN,23.777779,NaN
2000-01-07 00:00:00+00:00,39.237450,0.750226,NaN,NaN,8.406580,1.451389,NaN,16.072981,27.178352,6.274497,...,NaN,11.647436,NaN,7.208814,19.561598,NaN,4.424696,NaN,23.513889,NaN

In [13]:
# Drop also company names with more than 100 missing observations
number_of_null = prices_SP500.isnull().sum() # This shows how many null values per ticker
print(number_of_null)

Ticker
A          0
AAPL       0
ABBV    3269
ABNB    5269
ABT        0
        ...
XYL     2964
YUM        0
ZBH      393
ZBRA       0
ZTS     3290
Length: 495, dtype: int64

In [14]:
prices_SP500 = prices_SP500.loc[:,number_of_null<100]
((prices_SP500.isnull().sum())>=100).sum() #counts number of columns with more than 100 null values, should display 0

0

In [15]:
prices_SP500.head()

Ticker,A,AAPL,ABT,ACGL,ADBE,ADI,ADM,ADP,ADSK,AEE,...,WM,WMB,WMT,WRB,WST,WY,XEL,XOM,YUM,ZBRA
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03 00:00:00+00:00,43.463020,0.844004,8.288180,1.277778,16.274679,28.214655,6.307346,24.466057,8.052907,10.489181,...,9.861513,9.169552,14.378475,0.806421,5.421757,11.352951,6.848377,18.035828,4.634288,25.027779
2000-01-04 00:00:00+00:00,40.142948,0.772846,8.051374,1.270833,14.909400,26.787304,6.241646,24.466057,7.660817,10.489181,...,9.826041,8.966193,13.840451,0.781608,5.477769,10.926455,7.006068,17.690357,4.541136,24.666668
2000-01-05 00:00:00+00:00,37.652870,0.784155,8.036574,1.388889,15.204174,27.178352,6.143091,24.230806,7.178245,10.894959,...,9.861513,9.520802,13.557990,0.769201,5.455367,11.505267,7.276400,18.654758,4.564425,25.138889
2000-01-06 00:00:00+00:00,36.219189,0.716296,8.317780,1.375000,15.328293,26.435358,6.175942,24.554289,6.740914,10.854377,...,9.790567,9.724158,13.705946,0.813865,5.399356,12.043469,7.208814,19.619179,4.525610,23.777779
2000-01-07 00:00:00+00:00,39.237450,0.750226,8.406580,1.451389,16.072981,27.178352,6.274497,25.112999,7.540174,11.016683,...,9.400362,9.982978,14.741630,0.801458,5.455367,11.647436,7.208814,19.561598,4.424696,23.513889

### Question 2.2

In [16]:
log_returns = np.log(prices_SP500 / prices_SP500.shift(1))
log_returns

Ticker,A,AAPL,ABT,ACGL,ADBE,ADI,ADM,ADP,ADSK,AEE,...,WM,WMB,WMT,WRB,WST,WY,XEL,XOM,YUM,ZBRA
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04 00:00:00+00:00,-0.079464,-0.088077,-0.028988,-0.005450,-0.087619,-0.051913,-0.010471,0.000000,-0.049915,0.000000,...,-0.003603,-0.022427,-0.038137,-0.031253,0.010278,-0.038291,0.022765,-0.019341,-0.020305,-0.014533
2000-01-05 00:00:00+00:00,-0.064038,0.014527,-0.001840,0.088832,0.019578,0.014493,-0.015916,-0.009662,-0.065064,0.037956,...,0.003603,0.060018,-0.020620,-0.016000,-0.004098,0.051618,0.037860,0.053082,0.005115,0.018963
2000-01-06 00:00:00+00:00,-0.038820,-0.090514,0.034393,-0.010050,0.008130,-0.027718,0.005333,0.013262,-0.062859,-0.003732,...,-0.007220,0.021134,0.010854,0.056441,-0.010320,0.045718,-0.009332,0.050406,-0.008540,-0.055665
2000-01-07 00:00:00+00:00,0.080043,0.046281,0.010619,0.054067,0.047439,0.027718,0.015832,0.022499,0.112050,0.014842,...,-0.040671,0.026268,0.072846,-0.015361,0.010320,-0.033436,0.000000,-0.002939,-0.022551,-0.011160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23 00:00:00+00:00,0.001475,-0.002802,0.001388,0.008397,0.005719,0.000550,0.012015,0.007415,0.000319,0.013154,...,0.009339,0.022766,0.002019,0.006419,-0.000553,0.014071,0.012770,0.026101,0.000621,0.002864
2022-12-27 00:00:00+00:00,0.002142,-0.013976,0.003599,0.003779,-0.009977,-0.010060,0.013541,0.000374,-0.009988,0.008342,...,0.001820,0.002697,0.000278,0.006243,0.006782,-0.000635,0.008983,0.013798,0.007728,0.011137
2022-12-28 00:00:00+00:00,-0.009811,-0.031166,-0.006839,-0.016163,-0.020380,-0.011908,-0.024166,-0.013281,-0.023848,-0.010019,...,-0.013444,-0.020869,-0.017678,-0.015132,-0.023464,-0.027055,-0.007229,-0.016563,-0.004552,-0.016713
2022-12-29 00:00:00+00:00,0.020055,0.027931,0.022739,0.008114,0.027783,0.022822,-0.005355,0.011579,0.033623,0.007024,...,0.009487,0.007611,0.006068,0.006026,0.032924,0.022277,0.007060,0.007538,0.005245,0.042396
2022-12-30 00:00:00+00:00,-0.008086,0.002466,-0.004725,-0.005243,-0.003115,0.000305,-0.002904,-0.007341,-0.006667,-0.012184,...,-0.012605,-0.002125,-0.002536,-0.009190,-0.015306,-0.010270,-0.013600,0.010023,-0.014802,-0.004358

### Question 2.3

In [17]:
# Annualized Mean Return
annualized_mean_return = log_returns.mean()*252
print(annualized_mean_return)

Ticker
A       0.053313
AAPL    0.218953
ABT     0.110807
ACGL    0.169619
ADBE    0.131927
          ...
WY      0.040506
XEL     0.098560
XOM     0.076302
YUM     0.143102
ZBRA    0.101340
Length: 356, dtype: float64

In [18]:
# Annualized Volatility 
annualized_volatility = log_returns.std()*np.sqrt(252)
print(annualized_volatility)

Ticker
A       0.414503
AAPL    0.413075
ABT     0.245183
ACGL    0.265364
ADBE    0.432502
          ...
WY      0.340739
XEL     0.272491
XOM     0.266241
YUM     0.287745
ZBRA    0.381976
Length: 356, dtype: float64

In [19]:
data = yf.download('^TNX', start=start_date, end=end_date) # U.S. 10-Year Treasury Bond yield as a proxy for rf on this period
data = data['Adj Close'] / 100
rf = np.array(data.mean())
print(rf)

[*********************100%***********************]  1 of 1 completed

[0.03201947]

In [20]:
sharpe_ratios =  (annualized_mean_return - rf) / annualized_volatility
print(sharpe_ratios)

Ticker
A       0.051371
AAPL    0.452541
ABT     0.321343
ACGL    0.518533
ADBE    0.230998
          ...
WY      0.024905
XEL     0.244193
XOM     0.166324
YUM     0.386043
ZBRA    0.181478
Length: 356, dtype: float64

### Question 2.4

In [21]:
weights = sharpe_ratios / sharpe_ratios.sum()
print(weights)

Ticker
A       0.000676
AAPL    0.005953
ABT     0.004227
ACGL    0.006822
ADBE    0.003039
          ...
WY      0.000328
XEL     0.003212
XOM     0.002188
YUM     0.005079
ZBRA    0.002387
Length: 356, dtype: float64

Relying solely on the Sharpe ratio of individual stocks in our dataset to determine portfolio weights is inadequate because it overlooks the covariance between stocks. This means we might miss valuable diversification benefits that come from combining assets with different movement patterns, even if some have lower Sharpe ratios. Additionally, historical Sharpe ratios can carry significant estimation errors, particularly in the mean returns component, making them unreliable indicators of future risk-adjusted performance if used alone. Furthermore, investors may have varying risk tolerances and return expectations that the Sharpe ratio does not capture (example: Maximum Drawdown, Time under Water and so on). Lastly, past performance is not a guarantee of future results.